<div class="rows">
    <div class="leftRow">
        <div>
            <ul>
                <li>
                    <div>
                    <h2>About the Project</h2><h3>Duration: 3 Weeks</h3>
                    </div>
                    <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop
                        functions, assign users and categories.</span>
                </li>

            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <h2>How I have organised my work process</h2>
                    <span>How do you keep your code clean and maintainable? Have you broken the project down into
                        reusable modules or components? Focus on documentation, naming files, variables, classes and
                        testing.</span>
                </li>
            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <h2>My group work experience</h2>
                    <span>How many people were in the team and what was your role? Describe your tasks in 1-2 sentences.
                        It is nice to mention a good teamwork and cooperation.</span>
                </li>

            </ul>
        </div>
    </div>

    <div class="rightRow">
        <div class="techtree">
            <h2>Technologies</h2>
            <div class="icons">
                <img src="./../../../assets/technologies/HTML.svg" alt="HTML Sign">
                <img src="./../../../assets/technologies/JavaScript.svg" alt="JavaScript Sign">
                <img src="./../../../assets/technologies/CSS.svg" alt="CSS Sign">
            </div>
        </div>

        <div >
            <img class="projectImg" src="./../../../assets/icons/project_pokemon .png">
        </div>

        <div class="btn">
            <button>Live Test</button>
            <button>GitHub</button>
        </div>
    </div>
</div>