<div>
  <div></div>
  <div>
    <mat-tab-group>
      <mat-tab label="Pokedex">
        <div>
          <div>
            <div class="tab">
                <img src="./../../assets/images/BG shape.svg">
                <h2>Über das Projekt</h2><span>Dauer: 3 Wochen<br></span>
                <span>Diese App ist ein Pokedex. Man kann mit ihr sämtliche Pokemon abfragen und war für mich
                    persönlich ein einstieg in die Rest Api
                </span>
            </div>
            <div></div>
            <div></div>
          </div>
          <div></div>
        </div>
      </mat-tab>
      <mat-tab label="Join"> Content 2 </mat-tab>
      <mat-tab label="Sharky"> Content 3 </mat-tab>
    </mat-tab-group>
  </div>
</div>
