@mixin headliner() {
  font-family: "anta";
  font-size: 30px;
}

.module{
  width: 100%;
  height: 300px;
}

h1{
    text-align: center;
    color: #89bcd9;
    font-family: 'anta';
    font-size: 60px;
}

.location {
  display: flex;
  justify-content: center;
}

.text{
color: whitesmoke;
font-family: 'josefine';
font-size: 18px;
display: flex;
flex-direction: column;
align-items: end;
}

.h2blue {
  color: #89bcd9;
  @include headliner();
}

.h2white {
  color: whitesmoke;
  @include headliner();
}

.align{
  display: flex;
  justify-content: space-around;
}

.btn{
  display: block;
  border: 2px solid #89bcd9;
  width: 138px;
  height: 48px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}