<div>
    <h1>Why me</h1>
    <div>
        <div>
            <img src="./../../assets/icons/iconLocalisation.svg">
            <h2 class="h2blue">I am&nbsp;</h2>
            <h2 class="h2white">located in Ulm..|</h2>
        </div>
        <div>
            <span>
         Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Sequi delectus sapiente vel fugit asperiores, illum obcaecati <br>exercitationem at dolores. Recusandae et placeat<br> officia repellat delectus quod eos expedita<br> dolorum itaque?
            </span>

            <a>Let's Talk</a>
        </div>
    </div>
</div>