
@mixin headliner(){
    font-family: 'anta';
    font-size: 18px;
}

div {

    >h1 {
        display: flex;
        justify-content: center;
        font-family: 'anta';
        font-size: 60px;
        color: #89BCD9
    }

    >div {

        display: flex;
        align-items: flex-start;
        justify-content: space-around;

        >div {
            color: #89BCD9;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            >img {
                width: 60px;
                height: 60px;
            }

        }
        >div{
            display: flex;
            flex-direction: column;
            justify-content: center
            ;
            >span{
                font-family: 'josefine';
                font-size: 18px;
                color: whitesmoke;
            }
            >a{
                border-radius: 30px;
                border: 1px solid #89BCD9;
                width:  134px ;
                height: 48px;
                font-size: 18px;
                text-align: center;
                font-style: 'josefin';         
               }
        }




    }
}

.h2blue {
    color: #89BCD9;
    @include headliner();
}

.h2white {
    color: whitesmoke;
    @include headliner();
}

