<section >
    <h2>Need a teamplayer? Here what my colleagues said about me</h2>

    <div class="cards">
        <div class="card">
            <div>
                <h2>Sahra Mueller</h2>
                <div>
                    <span>project</span>
                    <a>DA Buble</a>
                </div>
            </div>
            <p>Claudia had to develop, format and deliver content in collaboration with the team members. She is a
                reliable and friendly person.</p>
            <a>Link to Profile</a>
        </div>
        <div class="card">
            <div>
                <h2>Sahra Mueller</h2>
                <div>
                    <span>project</span>
                    <a>DA Buble</a>
                </div>
            </div>
            <p>Claudia had to develop, format and deliver content in collaboration with the team members. She is a
                reliable and friendly person.</p>
            <a>Link to Profile</a>
        </div>
        <div class="card">
            <div>
                <h2>Sahra Mueller</h2>
                <div>
                    <span>project</span>
                    <a>DA Buble</a>
                </div>
            </div>
            <p>Claudia had to develop, format and deliver content in collaboration with the team members. She is a
                reliable and friendly person.</p>
            <a>Link to Profile</a>
        </div>
        
    </div>
</section>
<section>
    <app-contact></app-contact>
</section>