body {
    width: 100%;
    height: 100vh;
}

@mixin center(){
display: flex;
        justify-content: center;
        align-items: center;
}


section {
    >div {
        @include center();

        >div {
            >img {
                height: 616px;
                width: 680px;
            }

            >img {}
        }

        >div {
            @include center();
            flex-direction: column;
            >.logo{
                width: 66px;
                height: 76px;
            }
            >h1 {
                font-weight: 400;
                font-family: 'anta';
                font-size: 88px;
                margin-bottom: 16px;
            }

            >h2 {
                font-family: 'josefine';
                font-size: 40px;
                margin-top: 16px;
                }

        }

    }
}




h1,
h2 {
    color: whitesmoke;
}

