body {
    width: 100%;
    height: 100vh;
}

@mixin center{
display: flex;
        justify-content: center;
        align-items: center;
}


section {
    >div {
        @include center();

        >div {
            >img {
                height: 616px;
                width: 680px;
            }

            >img {}
        }

        >div {
            @include center;
            >h1 {
                font-weight: 400;
                font-family: 'anta';
                font-size: 88px;
            }

            >h2 {
                font-family: 'josefine';
                font-size: 40px;
            }

        }

    }
}




h1,
h2 {
    color: whitesmoke;
}

