<div class="rows">
    <div>
        <div class="item">
            
            <div class="content">
                <img class="pic" src="./../../../assets/icons/Ellipse 8.svg">
                <div style="display: flex;">
                    <h2>About the project</h2>
                    <span>Duration: 3 Weeks</span>
                </div>

                <p>It revolutionizes team communication and collaboration with its intuitive interface, real-time
                    messaging, and robust channel organization.
                </p>
            </div>
        </div>
        <!-- <div>

            <div>
                <img src="./../../../assets/icons/Ellipse 8.svg">
                <h2>How I have organised my work process</h2>
            </div>
            <div>

                <span>How do you keep your code clean and maintainable? Have you broken the project down into
                    reusable modules or components? Focus on documentation, naming files, variables, classes and
                    testing.</span>
            </div>


        </div>
        <div>
            <div>
                <img src="./../../../assets/icons/Ellipse 8.svg">
                <h2>My group work experience</h2>
            </div>
            <div>

                <span>How many people were in the team and what was your role? Describe your tasks in 1-2 sentences, for
                    example: login form, dashboard or chat functionality.
                    What technologies did you use?
                    It is nice to mention good teamwork and cooperation.</span>
            </div>
        </div> -->
    </div>

    <div class="rightRow">
        <div class="techtree">
            <h2>Technologies</h2>
            <div class="icons">
                <img src="./../../../assets/technologies/HTML.svg" alt="HTML Sign">
                <img src="./../../../assets/technologies/JavaScript.svg" alt="JavaScript Sign">
                <img src="./../../../assets/technologies/CSS.svg" alt="CSS Sign">
            </div>
        </div>

        <div class="projectImg">
            <img src="./../../../assets/icons/Screenshot project.svg">
        </div>

        <div class="btn">
            <button>Live Test</button>
            <button>GitHub</button>
        </div>
    </div>
</div>