<div class="rows">
    <div class="leftRow">


        <div style="display: flex; justify-content: start; align-items: start;">

            <img class="pic" src="./../../../assets/icons/Ellipse 8.svg">

            <div style="display: flex; flex-direction: column; ">
                <h2>About the project</h2>
                <p>It revolutionizes team communication and collaboration with its intuitive interface, real-time
                    messaging, and robust channel organization.
                </p>
            </div>
            <span>Duration: 3 Weeks</span>

        </div>
        <div style="display: flex; justify-content: start; align-items: start;">

            <img class="pic" src="./../../../assets/icons/Ellipse 8.svg">

            <div style="display: flex; flex-direction: column; ">
                <h2>How I have organised my work process</h2>
                <p>How do you keep your code clean and maintainable? Have you broken the project down into reusable
                    modules or components? Focus on documentation, naming files, variables, classes and testing.
                </p>
            </div>


        </div>
        <div style="display: flex; justify-content: start; align-items: start;">

            <img class="pic" src="./../../../assets/icons/Ellipse 8.svg">

            <div style="display: flex; flex-direction: column; ">
                <h2>My group work experience</h2>
                <p>How many people were in the team and what was your role? Describe your tasks in 1-2 sentences, for
                    example: login form, dashboard or chat functionality.
                    What technologies did you use?
                    It is nice to mention good teamwork and cooperation.
                </p>
            </div>


        </div>


    </div>

    <div class="rightRow">
        <div class="techtree">
            <h2>Technologies</h2>
            <div class="icons">
                <img src="./../../../assets/technologies/HTML.svg" alt="HTML Sign">
                <img src="./../../../assets/technologies/JavaScript.svg" alt="JavaScript Sign">
                <img src="./../../../assets/technologies/CSS.svg" alt="CSS Sign">
            </div>
        </div>

        <div class="projectImg">
            <img src="./../../../assets/icons/Screenshot project.svg">
        </div>

        <div class="btn">
            <button>Live Test</button>
            <button>GitHub</button>
        </div>
    </div>
</div>