h2 {
    font-family: 'josefine';
    font-size: 28px;
    color: whitesmoke;
    margin: 8px;
    font-weight: 400;
}

.rows {
    display: flex;
    background-color: #89BCD912;
    width: 100%;
    height: 548px;
    justify-content: center;
}

p{
    margin: 8px;
    color: whitesmoke;
    font-family: 'josefine';
}

span {
    font-size: 18px;
    color: whitesmoke;
}

.item {
  display: flex;
  align-items: flex-start; 
  gap: 14px;               
}

.content{
    display: flex;
    flex-direction: column;
}

button {
    width: 132px;
    height: 48px;
    border-color: #89BCD9;
    border-radius: 30px;
    background-color: #89BCD9;
    cursor: pointer;
    font-family: 'josefine';
    color: #262e34;
}

.leftRow {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    >div{
        >div{
            display: flex;
            >img{
                margin: 14px;
            }
            >h3{
                color: whitesmoke;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}

.pic{
    width: 29px;
    height: 26px;
}

.rightRow {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 40%;
    height: 100%;

    >.techtree {
        display: flex;
        flex-direction: column;
        align-items: center;
        >h2 {
            font-size: 22px;
             text-align: center;
        }
        >.icons {
            display: flex;
            align-items: center;
            width: 164px;
            height: 36px;
            // display: flex;
            justify-content: space-around;
            >img { 
                display: flex;
                align-items: center;
                height: 36px;
                width: 36px;
            }
        }
    }
}

.projectImg{
    width: 452px;
    height: 312px;
}

.btn{
    width: 292px;
    height:48px;
    display: flex;
    justify-content: space-between;
}
