<div class="rows">
    <div class="leftRow">
        <div>
            <div style="display: flex;">
                <img src="./../../../assets/icons/Ellipse 8.svg">
                <h2>How I have organised my work process</h2>
                <h3>Duration: 3 Weeks</h3>
            </div>
            <div>

                <span>How do you keep your code clean and maintainable? Have you broken the project down into
                    reusable modules or components? Focus on documentation, naming files, variables, classes and
                    testing.</span>
            </div>
        </div>
        <div>

            <div>
                <img src="./../../../assets/icons/Ellipse 8.svg">
                <h2>How I have organised my work process</h2>
            </div>
            <div>

                <span>How do you keep your code clean and maintainable? Have you broken the project down into
                    reusable modules or components? Focus on documentation, naming files, variables, classes and
                    testing.</span>
            </div>


        </div>
        <div>
            <div>
                <img src="./../../../assets/icons/Ellipse 8.svg">
                <h2>How I have organised my work process</h2>
            </div>
            <div>

                <span>How do you keep your code clean and maintainable? Have you broken the project down into
                    reusable modules or components? Focus on documentation, naming files, variables, classes and
                    testing.</span>
            </div>
        </div>
    </div>

    <div class="rightRow">
        <div class="techtree">
            <h2>Technologies</h2>
            <div class="icons">
                <img src="./../../../assets/technologies/HTML.svg" alt="HTML Sign">
                <img src="./../../../assets/technologies/JavaScript.svg" alt="JavaScript Sign">
                <img src="./../../../assets/technologies/CSS.svg" alt="CSS Sign">
            </div>
        </div>

        <div >
            <img class="projectImg" src="./../../../assets/icons/project_sharky.png">
        </div>

        <div class="btn">
            <button>Live Test</button>
            <button>GitHub</button>
        </div>
    </div>
</div>