<div class="navbar">
    <div>
        <img src="./../../../assets/images/NicolaiÖsterle.svg">

    </div>
    <div class="actionButtonContainer">
        <div [ngClass]="{'backgroundimg': activeElement === 'why'}" (click)="setNavbarState('why')">
            <a>
                Why me
            </a>
        </div>
        <div [ngClass]="{'backgroundimg': activeElement === 'skill'}" (click)="setNavbarState('skill')">
            <a>
                Skills
            </a>
        </div>
        <div [ngClass]="{'backgroundimg': activeElement === 'project'}" (click)="setNavbarState('project')">
            <a>
                Projects
            </a>
        </div>
        <div [ngClass]="{'backgroundimg': activeElement === 'contact'}" (click)="setNavbarState('contact')">
            <a>
                Contact
            </a>
        </div>

    </div>
    <div class="buttonContainer">
        <button [ngClass]="{'backgroundimg': state === 'ger' }" (click)="setLanguageState('ger')">DE</button>
        <button [ngClass]="{'backgroundimg': state === 'eng' }" (click)="setLanguageState('eng')">EN</button>
    </div>
</div>