<div class="navbar">
    <div>
        <img src="./../../../assets/images/NicolaiÖsterle.svg">
        
    </div>
    <div class="actionButtonContainer">
        <div><a>
                Why me
            </a>
        </div>
        <div><a>
                Skills
            </a>
        </div>
        <div><a>
                Projects
            </a>
        </div>
        <div>
            <a>
                Contact
            </a>
        </div>

    </div>
    <div class="buttonContainer">
        <button [class.active]="languageButton === 'ger'">DE</button>
        <button [class.active]="languageButton === 'en'">EN</button>
    </div>
</div>