<div class="navbar">
    <div>
        <img src="./../../../assets/images/NicolaiÖsterle.svg">
        
    </div>
    <div class="actionButtonContainer">
        <div><a>
                Why me
            </a>
        </div>
        <div><a>
                Skills
            </a>
        </div>
        <div><a>
                Projects
            </a>
        </div>
        <div>
            <a>
                Contact
            </a>
        </div>

    </div>
    <div class="buttonContainer">
        <button [ngClass]="{'backgroundimg': state === 'ger' }" (click)="setLanguageState('ger')">DE</button>
        <button [ngClass]="{'backgroundimg': state === 'eng' }" (click)="setLanguageState('eng')">EN</button>
    </div>
</div>