body{
    margin: 0;
    background-color: #262e34;
    width: 100%;
}

@font-face {
    font-family: 'anta';
    src: url(./assets/fonts/Anta/Anta-Regular.ttf);
}

@font-face {
    font-family: 'josefine';
    src: url(./assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}